*.py
configurator.py
*.json
*.pid
*.xml
*.csr
*.crt
*.key
www
home-assistant.log
home-assistant_v2.db
home-assistant_v2_old.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
google_calendars.yaml
*.db-journal
lib
deps
tts
www
.uuid
secrets.yaml
known_devices.yaml
*.conf
.*
!/.gitignore
core